ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

table {
    table-layout: fixed;
}
  
td {
    word-wrap: break-word;
}

ul.comment-list {
    list-style-type: disc;
    margin-left: 1em;
    padding-left: 1em;
  }
  
  ul.comment-list li {
    text-align: left;
  }

button a {
    color: white;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #b868ed;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}


#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}

.banner-section img{
  margin: 5px;
  height: 200px;
  width: 275px;
}

.banner-section{
  height: 500px;
  overflow: scroll;
}

#custom-labels {
    width: 40%;
}

/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin-left: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #03a9f4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #03a9f4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .loader {
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }